.container {
  display: flex;
}

.main-game {
  display: flex;
}

.column {
  width: calc(100% / 7);
  height: calc(100% / 7);
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    to bottom,
    #db8989 0%,
    #f2a29a 0%,
    #ff8c7f 21%,
    #f9998e 52%,
    #dd4b4b 78%,
    #d22f2f 100%
  );
}

.square {
  width: 100%;
  height: 60px;
  border: 1px solid black;
  border-radius: 50%;
  margin: 2px;
  background-color: white;
  box-sizing: border-box;
}



.disk {
  height: 50px;
  width: 50px;
  clip-path: circle();
  background-color: blue;
  background-size: 71px 49px;
  background-position-x: center;

}

.player1 {
  background-color: purple;
}
.player2 {
  background-color: yellow;
}




.containerModal {
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
}

.modal {
    background-color: black;
    width: 80%;
    height: 300px;
    color: #fff;
    border: solid 8px gold;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    padding: 5px;
}

#textResult {
    font-size: 1.3rem;
    text-align: center;
    font-family: monospace;
    line-height: 1.8rem;
}

#again {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-size: 1.5rem;
    font-family: sans-serif;
}

.hidden {
    display: none;
}

